<footer data-v-6a7da382="" data-v-4443c652="" class="header_footer footer is-family-secondary">
    <div data-v-6a7da382="" class="container is-centered p-l-32 p-r-32">
        <div data-v-6a7da382="" class="top-menus columns is-centered is-size-8">
            <div data-v-6a7da382="" class="column is-one-fifth">
                <div data-v-6a7da382="" class="footer-menu"><a data-v-6a7da382=""
                        href="/conheca-a-cielo/" target="_self "
                        aria-label="Link para /conheca-a-cielo/"
                        data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                        data-analyticslabel="Menu | Conheça a Cielo | Conheça a Cielo"
                        class="label is-size-8 m-t-32 m-b-16">
                        Conheça a Cielo
                    </a>
                    <ul data-v-6a7da382="" class="links">
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/cartoes-aceitos/" target="_self"
                                aria-label="Link para /cartoes-aceitos/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Conheça a Cielo | Cartões Aceitos"
                                class="has-text-display-heaviest">
                                Cartões Aceitos
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/movimenta/" target="_self"
                                aria-label="Link para /movimenta/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Conheça a Cielo | Cielo Movimenta"
                                class="has-text-display-heaviest">
                                Cielo Movimenta
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/varejo/" target="_self"
                                aria-label="Link para /varejo/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Conheça a Cielo | Cielo Varejo"
                                class="has-text-display-heaviest">
                                Cielo Varejo
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/fornecedores/" target="_self"
                                aria-label="Link para /fornecedores/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Conheça a Cielo | Fornecedores"
                                class="has-text-display-heaviest">
                                Fornecedores
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/imprensa/" target="_self"
                                aria-label="Link para /imprensa/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Conheça a Cielo | ICVA e Releases"
                                class="has-text-display-heaviest">
                                ICVA e Releases
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382="" href="https://ri.cielo.com.br/"
                                target="_self" aria-label="Link para https://ri.cielo.com.br/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Conheça a Cielo | Investidores"
                                class="has-text-display-heaviest">
                                Investidores
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="http://www.cielopatrocina.com.br/" target="_self"
                                aria-label="Link para http://www.cielopatrocina.com.br/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Conheça a Cielo | Patrocínios"
                                class="has-text-display-heaviest">
                                Patrocínios
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/conheca-a-cielo/" target="_self"
                                aria-label="Link para /conheca-a-cielo/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Conheça a Cielo | Sobre a Cielo"
                                class="has-text-display-heaviest">
                                Sobre a Cielo
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/sustentabilidade/" target="_self"
                                aria-label="Link para /sustentabilidade/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Conheça a Cielo | Sustentabilidade"
                                class="has-text-display-heaviest">
                                Sustentabilidade
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/trabalhe-conosco/" target="_self"
                                aria-label="Link para /trabalhe-conosco/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Conheça a Cielo | Trabalhe Conosco"
                                class="has-text-display-heaviest">
                                Trabalhe Conosco
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="https://blog.cielo.com.br/universidade/" target="_self"
                                aria-label="Link para https://blog.cielo.com.br/universidade/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Conheça a Cielo | Universidade Cielo"
                                class="has-text-display-heaviest">
                                Universidade Cielo
                            </a></li> <a data-v-6a7da382="" class="more-btn link">mostrar mais</a>
                    </ul>
                </div>

            </div>

{{!-- ============================= --}}

            <div data-v-6a7da382="" class="column is-one-fifth">
                <div data-v-6a7da382="" class="footer-menu"><a data-v-6a7da382="" href="/comprar-maquina-de-cartao"
                        class="label is-size-8 m-t-32 m-b-16" data-analyticscategory="{{ gtmPageName }}"
                        data-analyticsaction="Footer"
                        data-analyticslabel="Menu | Compre sua máquina | Compre sua máquina">
                        Compre sua máquina
                    </a>
                    <ul data-v-6a7da382="" class="links">
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/cielo-mobile/"
                                target="_self"
                                aria-label="Link para /cielo-mobile/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | App Cielo Mobile"
                                class="has-text-display-heaviest">
                                App Cielo Mobile
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/maquininhas-de-cartao/maquininha-da-cielo/"
                                target="_self"
                                aria-label="Link para /maquininhas-de-cartao/maquininha-da-cielo/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Maquininhas Cielo | Maquininha da Cielo"
                                class="has-text-display-heaviest">
                                Maquininha da Cielo
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/maquininhas-de-cartao/cielo-mini-zip" class="has-text-display-heaviest"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Maquininhas Cielo | Cielo MINI ZIP">
                                Cielo MINI ZIP
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/maquininhas-de-cartao/cielo-zip/" target="_self"
                                aria-label="Link para /maquininhas-de-cartao/cielo-zip/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Maquininhas Cielo | Cielo ZIP"
                                class="has-text-display-heaviest">
                                Cielo ZIP
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/maquininhas-de-cartao/cielo-flash/" target="_self"
                                aria-label="Link para /maquininhas-de-cartao/cielo-flash/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Maquininhas Cielo | Cielo Flash"
                                class="has-text-display-heaviest">
                                Cielo Flash
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/maquininhas-de-cartao/lio-mais/" target="_self"
                                aria-label="Link para /maquininhas-de-cartao/lio-mais/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Maquininhas Cielo | Cielo LIO+"
                                class="has-text-display-heaviest">
                                Cielo LIO+
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/maquininhas-de-cartao/cielo-lio/" target="_self"
                                aria-label="Link para /maquininhas-de-cartao/cielo-lio/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Maquininhas Cielo | Cielo LIO"
                                class="has-text-display-heaviest">
                                Cielo LIO
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/maquininhas-de-cartao/maquina-banda-larga/"
                                target="_self"
                                aria-label="Link para /maquininhas-de-cartao/maquina-banda-larga/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Maquininhas Cielo | Máquina banda larga"
                                class="has-text-display-heaviest">
                                Máquina banda larga
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/maquininhas-de-cartao/maquina-com-fio/"
                                target="_self"
                                aria-label="Link para /maquininhas-de-cartao/maquina-com-fio/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Maquininhas Cielo | Máquina com fio"
                                class="has-text-display-heaviest">
                                Máquina com fio
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/maquininhas-de-cartao/maquina-sem-fio/"
                                target="_self"
                                aria-label="Link para /maquininhas-de-cartao/maquina-sem-fio/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Maquininhas Cielo | Máquina sem fio"
                                class="has-text-display-heaviest">
                                Máquina sem fio
                            </a></li> <a data-v-6a7da382="" class="more-btn link">mostrar mais</a>
                    </ul>
                </div>
            </div>

{{!-- ============================= --}}

            <div data-v-6a7da382="" class="column is-one-fifth">

                <div data-v-6a7da382="" class="footer-menu"><a data-v-6a7da382=""
                        href="/maquininhas-de-cartao/" target="_self"
                        aria-label="Link para /maquininhas-de-cartao/"
                        data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                        data-analyticslabel="Menu | Aluguel de máquinas | Aluguel de máquinas"
                        class="label is-size-8 m-t-32 m-b-16">
                        Alugue sua máquina
                    </a>
                    <ul data-v-6a7da382="" class="links">
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/cielo-do-seu-jeito/" target="_self"
                                aria-label="Link para /cielo-do-seu-jeito/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Aluguel de máquinas | Cielo do Seu Jeito"
                                class="has-text-display-heaviest">
                                Cielo do Seu Jeito
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/cielo-livre/" target="_self"
                                aria-label="Link para /cielo-livre/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Aluguel de máquinas | Cielo Livre"
                                class="has-text-display-heaviest">
                                Cielo Livre
                            </a></li>
                        <!---->
                    </ul>
                </div>

                <div data-v-6a7da382="" class="footer-menu"><a data-v-6a7da382=""
                        href="/venda-mais/" target="_self"
                        aria-label="Link para /venda-mais/"
                        data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                        data-analyticslabel="Menu | Vender mais | Vender mais" class="label is-size-8 m-t-32 m-b-16">
                        Venda mais
                    </a>
                    <ul data-v-6a7da382="" class="links">
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/aceite-auxilio-emergencial" target="_self"
                                aria-label="Link para /aceite-auxilio-emergencial"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Vender mais | Aceite Auxilio Emergencial"
                                class="has-text-display-heaviest">
                                Aceite Auxilio Emergencial
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/cielo-pay" target="_self"
                                aria-label="Link para /cielo-pay"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Vender mais | App Cielo Pay"
                                class="has-text-display-heaviest">
                                App Cielo Pay
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/venda-mais/cielopromo" target="_self"
                                aria-label="Link para /venda-mais/cielopromo"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Vender mais | Cielo Promo"
                                class="has-text-display-heaviest">
                                Cielo Promo
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/e-commerce/pagamento-por-link" target="_self"
                                aria-label="Link para /e-commerce/pagamento-por-link"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Vender mais | Cielo Super Link"
                                class="has-text-display-heaviest">
                                Cielo Super Link
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/venda-mais/cieloconversor" target="_self"
                                aria-label="Link para /venda-mais/cieloconversor"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Vender mais | Conversor de Moedas Cielo"
                                class="has-text-display-heaviest">
                                Conversor de Moedas Cielo
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/parcelado/" target="_self"
                                aria-label="Link para /parcelado/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Vender mais | Parcelado Cliente"
                                class="has-text-display-heaviest">
                                Parcelado Cliente
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/crediario/" target="_self"
                                aria-label="Link para /crediario/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Vender mais | Crediário"
                                class="has-text-display-heaviest">
                                Crediário
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/pagamento-parcial/" target="_self"
                                aria-label="Link para /pagamento-parcial/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Vender mais | Pagamento Parcial"
                                class="has-text-display-heaviest">
                                Pagamento Parcial
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/qrcode/" target="_self"
                                aria-label="Link para /qrcode/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Vender mais | QR Code™"
                                class="has-text-display-heaviest">
                                QR Code™
                            </a></li> 
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/recarga-celular/" target="_self"
                                aria-label="Link para /recarga-celular/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Vender mais | Recarga"
                                class="has-text-display-heaviest">
                                Recarga
                            </a></li> <a data-v-6a7da382="" class="more-btn link">mostrar mais</a>

                    </ul>
                </div>
            </div>

{{!-- ============================= --}}        
        
            <div data-v-6a7da382="" class="column is-one-fifth">

                <div data-v-6a7da382="" class="footer-menu"><a data-v-6a7da382=""
                        href="/e-commerce" target="_self"
                        aria-label="Link para /e-commerce"
                        data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                        data-analyticslabel="Menu | Ecommerce | Ecommerce"
                        class="label is-size-8 m-t-32 m-b-16">
                        Ecommerce
                    </a>
                    <ul data-v-6a7da382="" class="links">
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/e-commerce/api/" target="_self"
                                aria-label="Link para /e-commerce/api/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Ecommerce | API e-Commerce Cielo"
                                class="has-text-display-heaviest">
                                API e-Commerce Cielo
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/e-commerce/checkout" target="_self"
                                aria-label="Link para /e-commerce/checkout"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Ecommerce | Checkout Cielo"
                                class="has-text-display-heaviest">
                                Checkout Cielo
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/cielo-sdk/" target="_self"
                                aria-label="Link para /cielo-sdk/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Ecommerce | Cielo SDK"
                                class="has-text-display-heaviest">
                                Cielo SDK
                            </a></li>
                    </ul>
                </div>

                <div data-v-6a7da382="" class="footer-menu"><a data-v-6a7da382=""
                        href="/venda-mais/" target="_self"
                        aria-label="Link para /venda-mais/"
                        data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                        data-analyticslabel="Menu | Melhore sua gestão | Melhore sua gestão"
                        class="label is-size-8 m-t-32 m-b-16">
                        Melhore sua gestão
                    </a>
                    <ul data-v-6a7da382="" class="links">
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/venda-mais/antecipacao-de-vendas/" target="_self"
                                aria-label="Link para /venda-mais/antecipacao-de-vendas/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Melhorar a gestão | Antecipação de vendas"
                                class="has-text-display-heaviest">
                                Antecipação de vendas
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/boletim-cielo-varejo/" target="_self"
                                aria-label="Link para /boletim-cielo-varejo/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Melhore sua gestão | Boletim Cielo"
                                class="has-text-display-heaviest">
                                Boletim Cielo
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/canais-digitais/" target="_self"
                                aria-label="Link para /canais-digitais/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Melhore sua gestão | Canais Digitais"
                                class="has-text-display-heaviest">
                                Canais Digitais
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/conta-digital/" target="_self"
                                aria-label="Link para /conta-digital/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Melhore sua gestão | Conta Digital"
                                class="has-text-display-heaviest">
                                Conta Digital
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/venda-mais/cielofarol/" target="_self"
                                aria-label="Link para /venda-mais/cielofarol/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Melhorar a gestão | Cielo Farol"
                                class="has-text-display-heaviest">
                                Cielo Farol
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/cielo-store/" target="_self"
                                aria-label="Link para /cielo-store/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Melhorar a gestão | Cielo Store"
                                class="has-text-display-heaviest">
                                Cielo Store
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/imprensa/" target="_self"
                                aria-label="Link para /imprensa/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Melhorar a gestão | ICVA" class="has-text-display-heaviest">
                                ICVA
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/receba-rapido/" target="_self"
                                aria-label="Link para /receba-rapido/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Melhorar a gestão | Receba Rápido"
                                class="has-text-display-heaviest">
                                Receba Rápido
                            </a></li><a data-v-6a7da382="" class="more-btn link">mostrar mais</a>
                        <!---->
                    </ul>
                </div>
            </div>

{{!-- ============================= --}}

            <div data-v-6a7da382="" class="column is-one-fifth">
                <div data-v-6a7da382="" class="footer-menu"><a data-v-6a7da382=""
                        href="https://desenvolvedores.cielo.com.br/api-portal/" target="_self"
                        aria-label="Link para https://desenvolvedores.cielo.com.br/api-portal/"
                        data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                        data-analyticslabel="Menu | Portal de desenvolvedores | Portal de desenvolvedores"
                        class="label is-size-8 m-t-32 m-b-16">
                        Portal de desenvolvedores
                    </a>
                    <ul data-v-6a7da382="" class="links">
                        <!---->
                    </ul>
                </div>
                <div data-v-6a7da382="" class="footer-menu"><a data-v-6a7da382=""
                        href="/atendimento/" target="_self"
                        aria-label="Link para /atendimento/"
                        data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                        data-analyticslabel="Menu | Atendimento | Atendimento" class="label is-size-8 m-t-32 m-b-16">
                        Atendimento
                    </a>
                    <ul data-v-6a7da382="" class="links">
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/atendimento/" target="_blank"
                                aria-label="Link para /atendimento/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Atendimento | FAQ"
                                class="has-text-display-heaviest">
                                FAQ
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="https://apm7.xgen.com.br/cielo3/f_cielo_site_novo.html" target="_blank"
                                aria-label="Chat"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Atendimento | Chat"
                                class="has-text-display-heaviest">
                                Chat
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="https://wa.me/551130032818" target="_blank"
                                aria-label="Whatsapp"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Atendimento | Whatsapp"
                                class="has-text-display-heaviest">
                                Whatsapp (11) 3003.2818
                            </a></li>
                        <!---->
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/atendimento/#map_section" target="_self"
                                aria-label="Link para /atendimento/#map_section"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Atendimento | Lojas físicas"
                                class="has-text-display-heaviest">
                                Lojas físicas
                            </a>
                        </li>
                    </ul>
                </div>
                <div data-v-6a7da382="" class="footer-menu"><a data-v-6a7da382="" href="https://blog.cielo.com.br/"
                        target="_self" aria-label="Link para https://blog.cielo.com.br/"
                        data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                        data-analyticslabel="Menu | Blog | Blog" class="label is-size-8 m-t-32 m-b-16">
                        Blog
                    </a>
                    <ul data-v-6a7da382="" class="links">
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="https://blog.cielo.com.br/dicas-de-negocio/" target="_self"
                                aria-label="Link para https://blog.cielo.com.br/dicas-de-negocio/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Blog | Dicas de negócio" class="has-text-display-heaviest">
                                Dicas de negócio
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="https://blog.cielo.com.br/historias-de-clientes/" target="_self"
                                aria-label="Link para https://blog.cielo.com.br/historias-de-clientes/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Blog | Histórias de sucesso"
                                class="has-text-display-heaviest">
                                Histórias de sucesso
                            </a></li>
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="https://blog.cielo.com.br/imprensa/" target="_self"
                                aria-label="Link para https://blog.cielo.com.br/imprensa/"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | Blog | ICVA e Releases" class="has-text-display-heaviest">
                                ICVA e Releases
                            </a></li>
                        <!---->
                    </ul>
                </div>
            </div>
        </div> 

        <span data-v-6a7da382="" class="divider m-b-32"></span>
        
{{!-- ============================= --}}

        <div data-v-6a7da382="" class="top-menus columns is-centered is-size-8">
            <div data-v-6a7da382="" class="column is-one-fifth">
                <div data-v-6a7da382="" class="footer-menu">
                    <div data-v-6a7da382="" class="label is-size-8 m-b-16">Suporte Técnico</div>
                    <ul data-v-6a7da382="" class="links">
                        <li data-v-6a7da382="" class="link m-b-16">
                            <p data-v-6a7da382="">4002 9111</p>
                        </li>
                        <li data-v-6a7da382="" class="link m-b-16">
                            <p data-v-6a7da382="">0800 570 0111</p>
                        </li>
                        <!---->
                    </ul>
                </div>
            </div>
            <div data-v-6a7da382="" class="column is-one-fifth">
                <div data-v-6a7da382="" class="footer-menu">
                    <div data-v-6a7da382="" class="label is-size-8 m-b-16">Central de Relacionamento</div>
                    <ul data-v-6a7da382="" class="links">
                        <li data-v-6a7da382="" class="link m-b-16">
                            <p data-v-6a7da382="">4002 5472</p>
                        </li>
                        <li data-v-6a7da382="" class="link m-b-16">
                            <p data-v-6a7da382="">0800 570 8472</p>
                        </li>
                        <!---->
                    </ul>
                </div>
            </div>
            <div data-v-6a7da382="" class="column is-one-fifth">
                <div data-v-6a7da382="" class="footer-menu">
                    <div data-v-6a7da382="" class="label is-size-8 m-b-16">Ouvidoria</div>
                    <ul data-v-6a7da382="" class="links">
                        <li data-v-6a7da382="" class="link m-b-16">
                            <p data-v-6a7da382="">0800 570 2288</p>
                        </li>
                        <!---->
                    </ul>
                </div>
            </div>
            <div data-v-6a7da382="" class="column is-one-fifth">
                <div data-v-6a7da382="" class="footer-menu">
                    <div data-v-6a7da382="" class="label is-size-8 m-b-16">Lojas Físicas</div>
                    <ul data-v-6a7da382="" class="links">
                        <li data-v-6a7da382="" class="link m-b-16"><a data-v-6a7da382=""
                                href="/atendimento/#map_section" target="_blank"
                                rel="noopener"
                                aria-label="Link para /atendimento/#map_section"
                                data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                                data-analyticslabel="Menu | undefined | Encontre a mais próxima"
                                class="has-text-display-heaviest">
                                Encontre a mais próxima
                            </a></li>
                        <!---->
                    </ul>
                </div>
            </div>
            <div data-v-6a7da382="" class="column is-one-fifth">
                <div data-v-6a7da382="" class="footer-menu">
                    <div data-v-6a7da382="" class="label is-size-8 m-b-16 our-awards">Nossos prêmios</div>
                    <ul data-v-6a7da382="" class="links">
                        <li data-v-18e7b13d="" class="is-flex">
                            <div data-v-18e7b13d="" class="is-paddingless m-r-12 awards">
                                <img src="/img/assets_cielo/awards/pme_2019_small.png" class="taxesImg">
                            </div>
                            <div data-v-18e7b13d="" class="is-paddingless m-r-12 awards">
                                <img src="/img/assets_cielo/awards/360_2019_small.png" class="taxesImg">
                            </div>
                            <div data-v-18e7b13d="" class="is-paddingless m-r-12 awards">
                                <img src="/img/assets_cielo/awards/RA1000_small.png" class="taxesImg">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container is-centered p-l-32 p-r-32 p-t-16-touch m-t-32-touch">
        <div data-v-6a7da382="" class="flex-row is-one-fifth social">
            <span data-v-6a7da382="" class="level-item"><a data-v-6a7da382=""
                    href="https://www.facebook.com/cielobr?fref=ts/" target="_blank" rel="noopener"
                    aria-label="Link para https://www.facebook.com/cielobr?fref=ts/"
                    data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                    data-analyticslabel="Redes Sociais | facebook"><img data-v-6a7da382=""
                        src="/img/assets_cielo/footer_icons/facebook.svg" alt="facebook"></a></span>
            <span data-v-6a7da382="" class="level-item"><a data-v-6a7da382=""
                    href="https://www.linkedin.com/company/cielo/" target="_blank" rel="noopener"
                    aria-label="Link para https://www.linkedin.com/company/cielo/"
                    data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                    data-analyticslabel="Redes Sociais | linkedin"><img data-v-6a7da382=""
                        src="/img/assets_cielo/footer_icons/linkedin.svg" alt="linkedin"></a></span>
            <span data-v-6a7da382="" class="level-item"><a data-v-6a7da382="" href="https://twitter.com/Cielo_br/"
                    target="_blank" rel="noopener" aria-label="Link para https://twitter.com/Cielo_br/"
                    data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                    data-analyticslabel="Redes Sociais | twitter"><img data-v-6a7da382=""
                        src="/img/assets_cielo/footer_icons/twitter.svg" alt="twitter"></a></span>
            <span data-v-6a7da382="" class="level-item"><a data-v-6a7da382=""
                    href="https://www.youtube.com/user/CieloCampanhas" target="_blank" rel="noopener"
                    aria-label="Link para https://www.youtube.com/user/CieloCampanhas"
                    data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                    data-analyticslabel="Redes Sociais | youtube"><img data-v-6a7da382=""
                        src="/img/assets_cielo/footer_icons/youtube.svg" alt="youtube"></a></span>
            <span data-v-6a7da382="" class="level-item"><a data-v-6a7da382=""
                    href="https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Cielo-EI_IE664705.13,18.htm" target="_blank" rel="noopener"
                    aria-label="Link para https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Cielo-EI_IE664705.13,18.htm"
                    data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                    data-analyticslabel="Redes Sociais | glassdoor"><img data-v-6a7da382=""
                        src="/img/assets_cielo/footer_icons/selo-Glassdoor.svg" alt="glassdoor"></a></span>
            <span data-v-6a7da382="" class="level-item"><a data-v-6a7da382=""
                    href="https://www.instagram.com/cielooficial/?hl=pt-br" target="_blank" rel="noopener"
                    aria-label="Link para https://www.instagram.com/cielooficial/?hl=pt-br"
                    data-analyticscategory="{{ gtmPageName }}" data-analyticsaction="Footer"
                    data-analyticslabel="Redes Sociais | instagram"><img data-v-6a7da382=""
                        src="/img/assets_cielo/footer_icons/instagram.svg" alt="instagram"></a></span>
        </div>
    </div>
    <div data-v-6a7da382="" class="logo-copy amp is-flex-desktop p-t-16 is-block-touch">
        <img data-v-6a7da382="" src="/img/assets_cielo/logo_footer.svg" alt="Cielo" title="Cielo" class="is-block-touch"> 
        <div class="copyright is-block-touch m-t-16-touch is-size-7 m-l-8" data-v-041cd394=""> <strong> Copyright © 2020 Cielo S.A. Todos os direitos reservados </strong> CNPJ: 01.027. 058/0001-91 • Endereço da sede: Alameda Xingu, 512 – 21º ao 31º andar – Alphaville – SP – CEP: 06455-030</div>
        {{!-- <div data-v-6a7da382="" class="copyright is-block-touch  is-size-8 m-l-8 aling-center m-t-32-touch"> 
            <strong class="is-block p-r-8"> Copyright &copy; 2019 Cielo S.A. Todos os direitos reservados </strong> 
            CNPJ: 01.027. 058/0001-91 • Endereço da sede: Alameda Xingu, 512 – 21º ao 31º andar – Alphaville – SP – CEP: 06455-030
        </div> --}}
    </div>
</footer>
